extends ../layout

block content
	.container
		.row
			ul.collection.with-header
				li.collection-header
					h5.font_size_22 通知一覧
				if notifications.length != 0
					for i in notifications
						li.collection-item.avatar
							i.mdi-notification-sms-failed.circle.teal
							a(href="/#{i.model_name}/#{i.model_id}") 
								span #{i.message}
							p.font_size_12 #{i.created_at.getFullYear()}-#{i.created_at.getMonth()}-#{i.created_at.getDay()} #{i.created_at.getHours()}:#{i.created_at.getMinutes()}
				else
					li.collection-item 通知はありません
