extends ../layout

block content
	if current_user
		section.parallax-container
			.parallax
				if current_user.image
					img(src="#{current_user.image}")
				else
					img(src="/images/colorfull2.jpg").blur
		.container
			.row
				.col.s12.m6
					.card-panel
						h5.font_size_18.brown-text 利用者情報を変更
						table.bordered
							tr
								td お名前
								td#usr_name= current_user.name
							tr
								td メールアドレス
								td#usr_email= current_user.email
							tr
								td Profile
								if current_user.description == "undefined" || typeof current_user.description
									td#usr_prof !{current_user.description.replace(/\n/g,"<br/>")}
								else
									td#usr_prof !{current_user.description}
						
						a(href="#edit_user_profile",class="modal-trigger waves-effect waves-light btn-flat teal accent-3 white-text") 編集する

				
				.col.s12.m6
					.card-panel
						h5.font_size_18.brown-text 画像を変更する
						form(action="/users/#{current_user.id}/image",method="post",enctype="multipart/form-data",id="file_field")
							.input-field
								input(type="file",name="image",id="image")
							
							.input-field
								button.btn-flat.white-text.orange アップロード
	
			
			#edit_user_profile.modal
				.modal-content
					h4 情報を編集する
					form(action="/users/#{current_user.id}",method="post",id="edit_user_profile_form")
						.input-field
							input(name="name",type="text",value="#{current_user.name}",id="user_name")
							label(for="name") お名前
						.input-field
							input(name="email",type="email",value="#{current_user.email}",id="user_email")
							label(for="email") メールアドレス
						.input-field
							textarea.materialize-textarea(name="description")#user_profile= current_user.description
							label(for="description") プロフィールの編集
						.input-field
							button.btn-flat.cyan.white-text(type="submit") 変更
				.modal-action.right
					a(href="#",class=" modal-action modal-close waves-effect waves-green btn-flat") Close



	else
		a(href="/") エラーが発生しました。
