extends ../layout

block content
	section.parallax-container
		.parallax
			if user.image
				img(src="#{user.image}")
			else
				img(src="/images/colorfull2.jpg").blur
				
	.row
		.col.s12.m4
			article.card
				.card-content
					h1.font_size_28.cyan-text= user.name
					if user.description
						p.font_size_14!= user.description.replace(/\n/g,"<br/>")

				.card-action
					if current_user
						unless current_user.id == user.id	
							if (friends.indexOf(user.id)) >= 0
								form(action="/friends/unfollow",method="post",id="be_friend_form_#{user.id}_#{current_user.id}",class="be_friend_form")
									input(type="hidden",value="#{user.id}",name="friend_id",id="friend_id")
									input(type="hidden",value="#{current_user.id}",name="user_id",id="user_id")
									button.btn-flat.pink.white-text.waves-effect.waves-light#friend_follow_submit フォロー中
							else
								form(action="/friends/follow",method="post",id="be_friend_form_#{user.id}_#{current_user.id}",class="be_friend_form")
									input(type="hidden",value="#{user.id}",name="friend_id",id="friend_id")
									input(type="hidden",value="#{current_user.id}",name="user_id",id="user_id")
									button.btn-flat.blue.white-text.waves-effect.waves-light#friend_follow_submit フォロー

		.col.s12.m8
			#card_box
				for post in posts
					include ../home/_post

			if posts.length >= 18
				#read_more.center
					input(type="hidden",value="1",class="page_id")
					.preloader-wrapper.active#loading
						.spinner-layer.spinner-blue-only
							.circle-clipper.left
								.circle
							.gap-patch
								.circle
							.circle-clipper.right
								.circle
					i.mdi-navigation-expand-more.center.cyan-text.small.btn-flat#load_more

