extends ../layout

block content
	input(id="friends_id",type="hidden",value="#{friends_id}")
	if current_user
		.parallax-container
			.parallax
				if current_user.image
					img(src="#{current_user.image}")
				else
					img.blur(src='/images/colorfull2.jpg', alt='Aimerthyst')
		section.section.grey.lighten-3
			#scroll_fire.container
				#card_box.row
					if posts.length != 0
						for post in posts
							include _post

				//追加の記事を読み込むときはこれQ
				if posts.length >= 18
					#read_more.center
						input(type="hidden",value="1",class="page_id")
						.preloader-wrapper.active#loading
							.spinner-layer.spinner-blue-only
								.circle-clipper.left
									.circle
								.gap-patch
									.circle
								.circle-clipper.right
									.circle
						i.mdi-navigation-expand-more.center.cyan-text.small.btn-flat#load_more



	else
		section.parallax-container
			.parallax
				img(src="/images/colorfull2.jpg",class="blur")
		.row
			p= current_user
			section.col.s12.m4.grey.lighten-5
				h1.tangerine.cyan-text Aimerthyst
				p.cyan-text ログインはこちらから
				include ../auth/_login_form
				include ../auth/_attention	
				
				article
					h5.font_size_22.orange-text Aimerthyst運営のアカウント
					.card
						.card-image
							img(src="#{aimerthyst.image}")
							span.card-title.ts-grey #{aimerthyst.name}
						.card-content
							p  
								| Aimerthyst運営チームのアカウントです
								| 少しでも興味を持っていただければ幸いです(・∀・)！！
						.card-action
							a(href="/company") 会社概要
							a(href="/users/#{aimerthyst.id}") もっと見る


			section.col.s12.m8.cyan.lighten-5
				.row
					for post in posts
						include _post

				.card-panel
					.center
						a.cyan-text(href="/users/1") もっと詳しく見てみよう(・∀・)！！
