extends ../layout

block content
	section.parallax-container
		.parallax
			if current_user.image
				img(src="#{current_user.image}")
			else
				img(src="/images/colorfull2.jpg")

	.container
		.row
			if songs.length != 0
				for song in songs
					article.col.s12.m4.ml3
						.card.waves-effect.waves-light(id="song_#{song.id}").song_card
							.card-image
								if song.image
									img(src="#{song.image}")
								else
									img(src="/images/amethyst_flat.png")
								span.card-title.ts-grey.white-text= song.name
							.card-content
								p.cyan-text.right
									| song by 
									span.card-title.cyan-text #{song.user_name}
								p.grey-text= song.description
			else
				h1 nothing song	
