extends ../layout

block content
	section.parallax-container
		.parallax
			img(src="/images/colorfull2.jpg").blur
			input(id="all_friends_id",type="hidden",value="#{all_friends}")
			input(id="current_user_id",type="hidden",value="#{current_user.id}")

	.row
		.col.m3.hide-on-mobile-only
			ul.collection.with-header
				li.collection-header
					h5.cyan-text 一覧
				for user in users
					li.collection-item
						a(href="/users/#{user.id}")= user.name
		
		.col.m9
			.row#friend_place
				for user in users
					article.col.s12.m6.l3
						.card.small
							.card-image
								if user.image
									img(src="#{user.image}")
								else
									img(src="/images/colorfull2.jpg").blur
							.card-content
								span.card-title
									a(href="/users/#{user.id}").cyan-text= user.name
							.card-action
								if (friends.indexOf(user.id)) >= 0
									form(action="/friends/unfollow",method="post",id="be_friend_form_#{user.id}_#{current_user.id}",class="be_friend_form")
										button.btn-flat.pink.white-text.waves-effect.waves-light#friend_follow_submit フォロー中
								else
									form(action="/friends/follow",method="post",id="be_friend_form_#{user.id}_#{current_user.id}",class="be_friend_form")
										button.btn-flat.blue.white-text.waves-effect.waves-light#friend_follow_submit フォロー

			//if posts.length >= 18
			#read_more_friend.center
				input(type="hidden",value="1",class="page_id")
				.preloader-wrapper.active#loading_friend
					.spinner-layer.spinner-blue-only
						.circle-clipper.left
							.circle
						.gap-patch
							.circle
						.circle-clipper.right
							.circle
				i.mdi-navigation-expand-more.center.cyan-text.small.btn-flat#load_more_friend
